<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CIC.server.mapper.CICMapper">
	<select id="getMemberIdList" resultType="String">
		select mem_id from member
	</select>
	<insert id="addMember">
		insert into member(mem_id, mem_pw, mem_name, mem_phone, mem_birth, mem_postcode, mem_address1, mem_address2) 
		values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_phone}, #{mem_birth}, #{mem_postcode}, #{mem_address1}, #{mem_address2})
	</insert>
	<select id="getMember" resultType="com.CIC.server.model.Member">
		select * from member where mem_id = #{id}
	</select>
	<select id="getProjectList" resultType="com.CIC.server.model.Project">
	select * 
		from ( select rownum as rnum, <![CDATA[a.pro_finish-sysdate]]> as dDay, a.*
			   from ( select *
			   		  from project
			   		  <if test="subMenu != null">
			   		  	<choose>
			   		  		<when test="subMenu == 'all'">
			   		  			where typ_number like '%'||#{type}||'%' and pro_title like '%'||#{search}||'%' and <![CDATA[sysdate-pro_start > 0]]>
			   		  		</when>
			   		  		<when test="subMenu == 'new'">
			   		  			where typ_number like '%'||#{type}||'%' and pro_title like '%'||#{search}||'%' and <![CDATA[sysdate-pro_start > 0 and sysdate-pro_start < 15]]>
			   		  		</when>
			   		  		<when test="subMenu == 'closeSoon'">
			   		  			where typ_number like '%'||#{type}||'%' and pro_title like '%'||#{search}||'%' and <![CDATA[sysdate-pro_start > 0 and pro_finish-sysdate > 0 and pro_finish-sysdate < 15]]>
			   		  		</when>
			   		  		<when test="subMenu == 'close'">
			   		  			where typ_number like '%'||#{type}||'%' and pro_title like '%'||#{search}||'%' and <![CDATA[pro_finish-sysdate < 0]]>
			   		  		</when>
			   		  	</choose>
			   		  </if>
			   		  order by pro_number desc ) a )
		where rnum between #{startNumber} and #{finishNumber}
	</select>
	<select id="getTypeList" resultType="com.CIC.server.model.Type">
		select * from TYPE
	</select> 
	<insert id="addProject">
		INSERT INTO PROJECT (PRO_NUMBER, PRO_TITLE, PRO_TARGET, PRO_THUMBNAIL, PRO_LOGO, PRO_START, PRO_FINISH, MEM_ID, TYP_NUMBER) 
		values( #{PRO_NUMBER}, #{PRO_TITLE}, #{PRO_TARGET}, #{PRO_THUMBNAIL}, #{PRO_LOGO}, #{PRO_START}, #{PRO_FINISH}, #{MEM_ID}, #{TYP_NUMBER} )
	</insert>

</mapper>