.header {
    float: left;
    width: 100%;
    color: white;
}
.header .headerContainer {
    position: relative;
    width: 90%;
    left: 5%;
    margin-top: 30px;
}
.header .headerContainer .headerLogo {
    float: left;
    width: 800px;
    font-size: 90px;
    line-height: 90px;
}
.header .headerContainer .headerArticle_1 {
    float: left;
    width: 550px;
    padding-top: 49.5px;
}
.header .headerContainer .headerMenu {
    float: right;
    font-size: 30px;
    padding-left: 25px;
}