.login {
    padding: 25px 0 0 0;
}
.login input[type='text'] {
    position: relative;
    left: 14%;
    width: 285px;
    height: 50px;
    font-size: 15px;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.login .find {
    position: relative;
    left: 27.5%;
    width: 75%;
    font-size: 12.5px;
    margin: -5px 0 20px 0;
}
.login .find #findId a{
    color: #9A9A9A;
    float: left;
}
.login .find #findId a:hover {
    font-weight: bold;
    color: black;
}
.login .find #blank {
    float: left;
    margin: 0 20px;
}
.login .find #findPw a{
    color: #9A9A9A;
    float: left;
}
.login .find #findPw a:hover {
    font-weight: bold;
    color: black;
}
.login input[type='submit'] {
    position: relative;
    left: 14%;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #ABF200;
}